select {
    text-align-last: center;
}

table.td {
    text-align: center;
}

.container {
    margin-top: 20px;
}

.mainContainer {
    margin-top: 20px;
    padding-bottom: 20px;
}

button {
    width: 200px;
}

.menubtn {
    margin: 2px;
}

.splitButton {
    width: 150px;
    height: 38px;
}

.minWidth {
    min-width: 160px;
}

#popUp {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.headerbtn {
    width: 80px;
    margin: 2px;
}

#popUpContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

p {
    text-align: center;
}

.-header {
    text-align: center;
    width: 50%;
    background-color: rgb(0, 119, 250);
    background-color: rgba(0, 119, 250, 0.1);
    border-top: solid teal 1px;
}

h2 {
    background-color: rgb(0, 119, 250);
    background-color: rgba(0, 119, 250, 0.1);
}

.-bp-container {
    background-color: rgb(0, 119, 250);
    background-color: rgba(0, 119, 250, 0.1);
    width: 100%;
    border: solid teal 1px;
}

.demo-msg {
    visibility: hidden;
    position: absolute;
}

.column {
    position: relative;
    width: 50%;
    float: left;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#title {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    margin: 7px;
    padding: 7px;
}

.granularContainer {
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    align-self: center;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.input-group input:disabled {
    opacity: 0.4;
}

#footer-id {
    position: relative;
    height: 5%;
    opacity: 70%;
}